#div1,
#div2 {
  float: left;
  width: 300px;
  height: 105px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}


.peace {
  color: #F783AC;
  text-align: center;
  margin-top: 3%;
  margin-left: 35%;
}

.hovering {
  background: rgba(0, 151, 19, 0.3);
}


.no-hover {
  background: hotpink;
}